<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or 
  <%= link_to "Log In", login_path %>
<% end %>


<p><%= current_user.id %></p>
<p><%= current_user.first_name %> <%= current_user.last_name %></p>

<td><%= link_to 'Edit', edit_user_path(current_user) %></td>

<%= link_to 'List of Users', users_path %>